SmartH2O_SeeApp/Service References/SmartH2O_Service/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58273/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58273/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58273/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmartH2O_Service" />
      <xsd:import schemaLocation="http://localhost:58273/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WriteDataSensor_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteDataSensor" />
  </wsdl:message>
  <wsdl:message name="IService1_WriteDataSensor_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteDataSensorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WriteDataAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteDataAlarm" />
  </wsdl:message>
  <wsdl:message name="IService1_WriteDataAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteDataAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getDataAlarmXML_InputMessage">
    <wsdl:part name="parameters" element="tns:getDataAlarmXML" />
  </wsdl:message>
  <wsdl:message name="IService1_getDataAlarmXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDataAlarmXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getDataSensorXML_InputMessage">
    <wsdl:part name="parameters" element="tns:getDataSensorXML" />
  </wsdl:message>
  <wsdl:message name="IService1_getDataSensorXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDataSensorXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getParameterMinRangeDay_InputMessage">
    <wsdl:part name="parameters" element="tns:getParameterMinRangeDay" />
  </wsdl:message>
  <wsdl:message name="IService1_getParameterMinRangeDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:getParameterMinRangeDayResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getParameterMaxRangeDay_InputMessage">
    <wsdl:part name="parameters" element="tns:getParameterMaxRangeDay" />
  </wsdl:message>
  <wsdl:message name="IService1_getParameterMaxRangeDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:getParameterMaxRangeDayResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getParameterAvgRangeDay_InputMessage">
    <wsdl:part name="parameters" element="tns:getParameterAvgRangeDay" />
  </wsdl:message>
  <wsdl:message name="IService1_getParameterAvgRangeDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:getParameterAvgRangeDayResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getParameterMinHourInDay_InputMessage">
    <wsdl:part name="parameters" element="tns:getParameterMinHourInDay" />
  </wsdl:message>
  <wsdl:message name="IService1_getParameterMinHourInDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:getParameterMinHourInDayResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getParameterMaxHourInDay_InputMessage">
    <wsdl:part name="parameters" element="tns:getParameterMaxHourInDay" />
  </wsdl:message>
  <wsdl:message name="IService1_getParameterMaxHourInDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:getParameterMaxHourInDayResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getParameterAvgHourInDay_InputMessage">
    <wsdl:part name="parameters" element="tns:getParameterAvgHourInDay" />
  </wsdl:message>
  <wsdl:message name="IService1_getParameterAvgHourInDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:getParameterAvgHourInDayResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getParameterMinWeekly_InputMessage">
    <wsdl:part name="parameters" element="tns:getParameterMinWeekly" />
  </wsdl:message>
  <wsdl:message name="IService1_getParameterMinWeekly_OutputMessage">
    <wsdl:part name="parameters" element="tns:getParameterMinWeeklyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getParameterMaxWeekly_InputMessage">
    <wsdl:part name="parameters" element="tns:getParameterMaxWeekly" />
  </wsdl:message>
  <wsdl:message name="IService1_getParameterMaxWeekly_OutputMessage">
    <wsdl:part name="parameters" element="tns:getParameterMaxWeeklyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getParameterAvgWeekly_InputMessage">
    <wsdl:part name="parameters" element="tns:getParameterAvgWeekly" />
  </wsdl:message>
  <wsdl:message name="IService1_getParameterAvgWeekly_OutputMessage">
    <wsdl:part name="parameters" element="tns:getParameterAvgWeeklyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAlarmRangeDay_InputMessage">
    <wsdl:part name="parameters" element="tns:getAlarmRangeDay" />
  </wsdl:message>
  <wsdl:message name="IService1_getAlarmRangeDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAlarmRangeDayResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteDataSensor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WriteDataSensor" message="tns:IService1_WriteDataSensor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WriteDataSensorResponse" message="tns:IService1_WriteDataSensor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteDataAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WriteDataAlarm" message="tns:IService1_WriteDataAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WriteDataAlarmResponse" message="tns:IService1_WriteDataAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDataAlarmXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getDataAlarmXML" message="tns:IService1_getDataAlarmXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getDataAlarmXMLResponse" message="tns:IService1_getDataAlarmXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDataSensorXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getDataSensorXML" message="tns:IService1_getDataSensorXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getDataSensorXMLResponse" message="tns:IService1_getDataSensorXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getParameterMinRangeDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getParameterMinRangeDay" message="tns:IService1_getParameterMinRangeDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getParameterMinRangeDayResponse" message="tns:IService1_getParameterMinRangeDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getParameterMaxRangeDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getParameterMaxRangeDay" message="tns:IService1_getParameterMaxRangeDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getParameterMaxRangeDayResponse" message="tns:IService1_getParameterMaxRangeDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getParameterAvgRangeDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getParameterAvgRangeDay" message="tns:IService1_getParameterAvgRangeDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getParameterAvgRangeDayResponse" message="tns:IService1_getParameterAvgRangeDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getParameterMinHourInDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getParameterMinHourInDay" message="tns:IService1_getParameterMinHourInDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getParameterMinHourInDayResponse" message="tns:IService1_getParameterMinHourInDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getParameterMaxHourInDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getParameterMaxHourInDay" message="tns:IService1_getParameterMaxHourInDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getParameterMaxHourInDayResponse" message="tns:IService1_getParameterMaxHourInDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getParameterAvgHourInDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getParameterAvgHourInDay" message="tns:IService1_getParameterAvgHourInDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getParameterAvgHourInDayResponse" message="tns:IService1_getParameterAvgHourInDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getParameterMinWeekly">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getParameterMinWeekly" message="tns:IService1_getParameterMinWeekly_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getParameterMinWeeklyResponse" message="tns:IService1_getParameterMinWeekly_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getParameterMaxWeekly">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getParameterMaxWeekly" message="tns:IService1_getParameterMaxWeekly_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getParameterMaxWeeklyResponse" message="tns:IService1_getParameterMaxWeekly_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getParameterAvgWeekly">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getParameterAvgWeekly" message="tns:IService1_getParameterAvgWeekly_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getParameterAvgWeeklyResponse" message="tns:IService1_getParameterAvgWeekly_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAlarmRangeDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAlarmRangeDay" message="tns:IService1_getAlarmRangeDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAlarmRangeDayResponse" message="tns:IService1_getAlarmRangeDay_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteDataSensor">
      <soap:operation soapAction="http://tempuri.org/IService1/WriteDataSensor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteDataAlarm">
      <soap:operation soapAction="http://tempuri.org/IService1/WriteDataAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataAlarmXML">
      <soap:operation soapAction="http://tempuri.org/IService1/getDataAlarmXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataSensorXML">
      <soap:operation soapAction="http://tempuri.org/IService1/getDataSensorXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParameterMinRangeDay">
      <soap:operation soapAction="http://tempuri.org/IService1/getParameterMinRangeDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParameterMaxRangeDay">
      <soap:operation soapAction="http://tempuri.org/IService1/getParameterMaxRangeDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParameterAvgRangeDay">
      <soap:operation soapAction="http://tempuri.org/IService1/getParameterAvgRangeDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParameterMinHourInDay">
      <soap:operation soapAction="http://tempuri.org/IService1/getParameterMinHourInDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParameterMaxHourInDay">
      <soap:operation soapAction="http://tempuri.org/IService1/getParameterMaxHourInDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParameterAvgHourInDay">
      <soap:operation soapAction="http://tempuri.org/IService1/getParameterAvgHourInDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParameterMinWeekly">
      <soap:operation soapAction="http://tempuri.org/IService1/getParameterMinWeekly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParameterMaxWeekly">
      <soap:operation soapAction="http://tempuri.org/IService1/getParameterMaxWeekly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParameterAvgWeekly">
      <soap:operation soapAction="http://tempuri.org/IService1/getParameterAvgWeekly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlarmRangeDay">
      <soap:operation soapAction="http://tempuri.org/IService1/getAlarmRangeDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:58273/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>