SmartH2O_SeeApp/Service References/SmatH2O_Service/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58273/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmartH2O_Service" />
  <xs:import schemaLocation="http://localhost:58273/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmartH2O_Service" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmartH2O_Service" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteDataSensor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteDataSensorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WriteDataSensorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteDataAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteDataAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WriteDataAlarmResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataAlarmXML">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataAlarmXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDataAlarmXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataSensorXML">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataSensorXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDataSensorXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParameterMinRangeDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateBg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateEd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParameterMinRangeDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getParameterMinRangeDayResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParameterMaxRangeDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateBg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateEd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParameterMaxRangeDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getParameterMaxRangeDayResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParameterAvgRangeDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateBg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateEd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParameterAvgRangeDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getParameterAvgRangeDayResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParameterMinHourInDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="day" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParameterMinHourInDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getParameterMinHourInDayResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParameterMaxHourInDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="day" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParameterMaxHourInDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getParameterMaxHourInDayResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParameterAvgHourInDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="day" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParameterAvgHourInDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getParameterAvgHourInDayResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParameterMinWeekly">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="week" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParameterMinWeeklyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getParameterMinWeeklyResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParameterMaxWeekly">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="week" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParameterMaxWeeklyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getParameterMaxWeeklyResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParameterAvgWeekly">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="week" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParameterAvgWeeklyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getParameterAvgWeeklyResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlarmRangeDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q12:ArrayOfstring" />
        <xs:element minOccurs="0" name="dateBg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateEd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlarmRangeDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAlarmRangeDayResult" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>